# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project
.settings/
.idea/
app/bin/
app/build/

#Ignore Card Number Generator output
__pycache__
.DS_Store

#Python made files
cinemas.txt
giftcards.txt
movies.txt
schedules.txt